body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  
  header {
    background: #d85d44;
    color: rgb(60, 104, 167);
    padding: 1rem 0;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  header nav ul li a {
    color: rgb(235, 171, 171);
    text-decoration: none;
  }
  
  .hero {
    text-align: center;
    background: #0a5e71;
    padding: 50px 20px;
  }
  
  .products {
    padding: 20px;
    text-align: center;
  }
  
  .product {
    display: inline-block;
    margin: 20px;
    width: 200px;
  }
  
  .product img {
    width: 100%;
    height: auto;
  }
  .image-container {
    filter: blur(5px);
  }
   