{% load static %}

<!-- clients start -->
<section id="clients" class="clients">
    <div class="container">
        <div class="owl-carousel owl-theme" id="client">
            <div class="item">
                <a href="#">
                    <img src="{% static 'home/assets/images/clients/c1.png' %}" alt="brand-image" />
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="{% static 'home/assets/images/clients/c2.png' %}" alt="brand-image" />
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="{% static 'home/assets/images/clients/c3.png' %}" alt="brand-image" />
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="{% static 'home/assets/images/clients/c4.png' %}" alt="brand-image" />
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="{% static 'home/assets/images/clients/c5.png' %}" alt="brand-image" />
                </a>
            </div>
        </div>
    </div>
</section>
<!-- clients end -->

<!-- newsletter start -->
<section id="newsletter" class="newsletter">
    <div class="container">
        <div class="hm-footer-details">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>information</h4>
                        </div>
                        <div class="hm-foot-menu">
                            <ul>
                                <li><a href="#">về chúng tôi</a></li>
                                <li><a href="#">liên hệ</a></li>
                                <li><a href="#">mới</a></li>
                                <li><a href="#">cửa hàng</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>collections</h4>
                        </div>
                        <div class="hm-foot-menu">
                            <ul>
                                <li><a href="#">wooden chair</a></li>
                                <li><a href="#">royal cloth sofa</a></li>
                                <li><a href="#">accent chair</a></li>
                                <li><a href="#">bed</a></li>
                                <li><a href="#">Bình sữa & dụng cụ hỗ trợ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>my accounts</h4>
                        </div>
                        <div class="hm-foot-menu">
                            <ul>
                                <li><a href="#">my account</a></li>
                                <li><a href="#">wishlist</a></li>
                                <li><a href="#">Community</a></li>
                                <li><a href="#">order history</a></li>
                                <li><a href="#">my cart</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>newsletter</h4>
                        </div>
                        <div class="hm-foot-para">
                            <p>
                                Subscribe to get latest news, update and information.
                            </p>
                        </div>
                        <div class="hm-foot-email">
                            <div class="foot-email-box">
                                <input type="text" class="form-control" placeholder="Enter Email Here....">
                            </div>
                            <div class="foot-email-subscribe">
                                <span><i class="fa fa-location-arrow"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- newsletter end -->

<!-- footer start -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="hm-footer-copyright text-center">
            <div class="footer-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
            <p>
                &copy;copyright. designed and developed by <a href="https://www.themesine.com/">themesine</a>
            </p>
        </div>
    </div>

    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="Back to Top"></i>
        </div>
    </div>
</footer>
<!-- footer end -->
